// params {
    // undocumented option to automatically remove work dir
//    cleanup = true
// }

process {
	withName:FASTQC {
		container = 'quay.io/biocontainers/fastqc:0.11.9--0'
	}
	withName:STAR_ALIGN {
		container = 'quay.io/biocontainers/star:2.6.0c--h9ee0642_3'
	}
	withName:HTSEQ_COUNT {
		container = 'quay.io/biocontainers/htseq:0.6.1.post1--py27h76bc9d7_5'
	}
    withName:MERGE_BAMS {
        container = 'quay.io/biocontainers/gatk4:4.1.7.0--py38_0'
    }
    withName:MARK_DUPLICATES {
        container = 'quay.io/biocontainers/gatk4:4.1.7.0--py38_0'
    }
    withName:SPLIT_N_TRIM {
        container = 'quay.io/biocontainers/gatk4:4.1.7.0--py38_0'
    }
    withName:RECALIBRATION {
        container = 'quay.io/biocontainers/gatk4:4.1.7.0--py38_0'
    }
    withName:VARIANT_CALLING {
        container = 'quay.io/biocontainers/gatk4:4.1.7.0--py38_0'
    }
    withName:FILTER_VARIANTS {
        container = 'quay.io/biocontainers/gatk4:4.1.7.0--py38_0'
    }
    withName:VCF2MAF {
        container = 'quay.io/biocontainers/vcf2maf:1.6.21--hdfd78af_0'
    }
    withName:KALLISTO_INDEX {
       container = 'quay.io/biocontainers/kallisto:0.48.0--h0d531b0_1'
    }
    withName:KALLISTO {
        container = 'quay.io/biocontainers/kallisto:0.48.0--h0d531b0_1'
    }
    withName:PIZZLY {
        container = 'quay.io/biocontainers/pizzly:0.37.3--h470a237_3'
    }
}

executor {
    name = 'local'
    // queueSize = 8
}

singularity {
	docker.enabled = false
	singularity.enabled = true
	podman.enabled = false
	shifter.enabled = false
	charliecloud.enabled = false
	singularity.autoMounts = true
	singularity.enabled = true
	cacheDir = '/data/s_cache'
	autoMounts = true
    env.PYTHONNOUSERSITE = 1
    engineOptions = '--debug'
    runOptions = '-B /data:/data'
}
