process {
	withName:FASTQC {
		container = 'quay.io/biocontainers/fastqc:0.11.9--0'
	}
    withName:STAR_ALIGN_HUMAN {
		container = 'quay.io/biocontainers/star:2.6.0c--h9ee0642_3'
	}
    withName:STAR_ALIGN_MOUSE {
		container = 'quay.io/biocontainers/star:2.6.0c--h9ee0642_3'
	}
    withName:SORT_NAME_HUMAN {
        container = 'jowkar/htseq_samtools:0.6.1.post1_1.14'
    }
    withName:SORT_NAME_MOUSE {
        container = 'jowkar/htseq_samtools:0.6.1.post1_1.14'
    }
	withName:HTSEQ_COUNT {
        container = 'jowkar/htseq_samtools:0.6.1.post1_1.14'
	}
    withName:CLASSIFICATION {
        container = 'jowkar/rnaseqpancanclassifier:0.1.9c'
    }
    withName:PREPARE_COUNT_MATRIX_SCOPE {
        container = 'jowkar/rnaseqpancanclassifier:0.1.9c'
    }
    withName:PREPARE_COUNT_MATRIX_CUP_AI_DX {
        container = 'jowkar/rnaseqpancanclassifier:0.1.9c'
    }
    //withName:CLASSIFY_CUP_AI_DX {
        //container = 'yuz12012/ai4cancer:product'
    //}
    withName:SORT_INDEX {
        container = 'jowkar/htseq_samtools:0.6.1.post1_1.14'
    }
    withName:MERGE_BAMS {
        container = 'quay.io/biocontainers/gatk4:4.1.7.0--py38_0'
    }
    withName:MARK_DUPLICATES {
        container = 'quay.io/biocontainers/gatk4:4.1.7.0--py38_0'
    }
    withName:SPLIT_N_TRIM {
        container = 'quay.io/biocontainers/gatk4:4.1.7.0--py38_0'
    }
    withName:RECALIBRATION {
        container = 'quay.io/biocontainers/gatk4:4.1.7.0--py38_0'
    }
    withName:VARIANT_CALLING {
        container = 'quay.io/biocontainers/gatk4:4.1.7.0--py38_0'
    }
    withName:FILTER_VARIANTS {
        container = 'quay.io/biocontainers/gatk4:4.1.7.0--py38_0'
    }
    withName:BAM_TO_FASTQ {
        container = 'quay.io/biocontainers/gatk4:4.1.7.0--py38_0'
    }
    withName:VCF2MAF {
        container = 'quay.io/biocontainers/vcf2maf:1.6.21--hdfd78af_0'
    }
    withName:KALLISTO_INDEX {
       container = 'quay.io/biocontainers/kallisto:0.48.0--h0d531b0_1'
    }
    withName:KALLISTO {
        container = 'quay.io/biocontainers/kallisto:0.48.0--h0d531b0_1'
    }
    withName:PIZZLY {
        container = 'quay.io/biocontainers/pizzly:0.37.3--h470a237_3'
    }
    withName:DISAMBIGUATE {
        container = 'quay.io/biocontainers/ngs-disambiguate:2018.05.03--hf393df8_7'
    }
}

executor {
    name = 'local'
}

env {
    SINGULARITY_TMPDIR = '/data/s_tmp'
    SINGULARITY_CACHEDIR = '/data/s_cache'
    SINGULARITY_LIBRARYDIR = '/data/s_lib'
    NXF_SINGULARITY_CACHEDIR = '/data/s_tmp'
    NXF_SINGULARITY_LIBRARYDIR = '/data/s_tmp'
    NXF_TEMP= '/data/tmp'
    TEMP = '/data/tmp'
	TMPDIR = '/data/tmp'
	TMP_DIR = '/data/tmp'
	TMP = '/data/tmp'
}

singularity {
	docker.enabled = false
	singularity.enabled = true
	podman.enabled = false
	shifter.enabled = false
	charliecloud.enabled = false
	singularity.autoMounts = true
	cacheDir = '/data/s_cache'
	autoMounts = true
    env.PYTHONNOUSERSITE = 1
    engineOptions = '--debug'
    runOptions = '-B /data:/data'
}
